<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>

<body style="font-family: Arial" onload="addYear();greetingFunc();">
    <header style="color:rgba(64, 61, 57); background:rgba(204, 197, 185)">
        <h1 id="webname">Coral Zhu</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a>
            <a href="cv.html" class="nav-link">CV</a>
            <a href="contact.html" class="nav-link">Contact Me</a>
            <a href="fun.html" class="nav-link">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form id="contactForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="4" cols="40" required></textarea><br><br>
            
            <button type="submit" onclick="validate()">Submit</button>            
        </form>
        <p id="errorMessage" class="error"></p>
        <table>
            <tr>
                <td>Email</td>
                <td>xiangcuz@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>4122870188</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td>***</td>
            </tr>
        </table>
    </div>
    <footer>
        <p>🎨Designed and coded by Coral Zhu&copy;<span id="copyYear"></span>🫡</p>
    </footer>
</body>
</html>