<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body style="font-family: Arial">
    <header style="color:rgba(64, 61, 57); background:rgba(204, 197, 185)">
        <h1 id="webname">Coral Zhu</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a>
            <a href="cv.html" class="nav-link">CV</a>
            <a href="contact.html" class="nav-link">Contact Me</a>
            <a href="fun.html" class="nav-link">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Institute 1</td>
                <td> Working in *** Company, sloving with the customers' problems...</td>
            </tr>
            <tr>
                <td>Institute 2</td>
                <td> Working as a web designer in...</td>
            </tr>
            <tr>
                <td>Institute 3</td>
                <td> Developing as a web developer during ** in...</td>
            </tr>
            <tr>
                <td>Institute 4</td>
                <td> Being an assistance of...</td>
            </tr>
        </table>
        <p><a href="../static/Resume.pdf" target="_blank"> My Resume PDF</a></p>
    </div>
    <footer>
        <p>&copy;Coral Zhu🫡</p>
    </footer>
</body>
</html>