<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>

<body>
    <header>
        <h1>Coral Zhu</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Playing the piano</li>
            <li>Playing tennis</li>
            <li>Watching Movies</li>
            <li>Cooking</li>
            <li>Listening to music</li>
        </ul>
    </div>
    <footer>
        <p>&copy;Coral Zhu</p>
    </footer>
</body>
</html>